<div ng-if="showCovers" class="cover-view">
    <div ng-if="showBook(book)" class="cover-card" ng-repeat="book in allBooks | orderBy:'title'">
        <div ng-if="!book.downloaded" class="cover-hover-icon" ng-click="downloadBook(book.id)">+</div>
        <div ng-if="book.downloaded" class="cover-hover-icon show">&#10003;</div>
        <img class="cover-picture" ng-src="https://books.libraryforall.org/assets/{{book.cover_path}}">
        <p class="cover-title">{{book.title}}</p>
    </div>
</div>
<div ng-if="!showCovers">
    <div ng-if="showBook(book)" class="book-view" ng-repeat="book in allBooks | orderBy:'title'" ng-click="downloadBook(book.id)">
        <span class="book-title">{{book.title}}</span>
        <span class="book-publisher">{{book.publisher}}</span>
    </div>
</div>
