<html ng-app="lib4AllApp" ng-controller="MainController">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <!-- <link href="https://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet"> -->
        <style>
            @import url('https://fonts.googleapis.com/css?family=Work+Sans:200');
        </style>
        <title>{{main.title || "Library for All Portal"}}</title>

        <script type="text/javascript" src="node_modules/angular/angular.js"></script>
        <script src="mainController.js"></script>
        <script src="node_modules/angular-resource/angular-resource.js"></script>
        <link rel="stylesheet" type="text/css" href="main.css" />

    </head>

    <body class="body">

    	<div style="position: relative;">
            <h2 class="title">Library For All</h2>
            <input class="search" type="text" placeholder="Search" ng-model="filter" ng-change="filterBooks()">
            <button class="button" ng-click="changeView()">{{buttonTitle}}</button>
        </div>
        <div class="cover-view">
            <div class="cover-card" ng-repeat="book in currentBooks | orderBy:'title'" ng-click="downloadBook(book.id)">
                <div class="cover-add-icon">+</div>
                <img class="cover-picture" ng-src="https://books.libraryforall.org/assets/{{book.cover_path}}">
                <p class="cover-title">{{book.title}}</p>
            </div>

        </div>

    </body>
