.body {
	font-family: Geneva;
}

.title {
	font-family: 'Lobster', cursive;
	margin: auto;
	/*position: absolute;*/
	text-align: center;
	font-size: 3em;
}

.search {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	height: 25px;
	margin: auto;
	border-radius: 8px;
	border: 1px solid lightgrey;
	outline: none;
	font-size: 1.05em;
	padding: 0 3px;
}

.book-view {
	list-style-type: none;
	margin: 6px;
	padding: 6px;
	border-radius: 6px;
	background-color: lightblue;
}

.book-view:hover {
	cursor: pointer;
	background-color: #bfefff;
}

.book-title {
	font-weight: bold;
}

.book-publisher {
	font-style: italic;
	color: darkgrey;
	font-size: 0.9em;
}

/* New stuff */
.cover-view {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/*width: 100vh;*/
	height: 100vh;
}

.cover-card {
	width: 200px;
  	height: 250px;
  	/*background-color: #eeeff2;*/
  	background-color: white;
  	margin: 15px;
  	border: solid 1px silver;
		position: relative;
  	/*sflex-shrink: 0;*/
}

.cover-title {
	white-space: pre;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: 'Work Sans', sans-serif;
	color:black;
	margin: 10px 4px;
	text-align: center;
}

.cover-hover-icon {
		width: 100%;
		background: #d3d3d3;
		/*border: solid 1px red;*/
		height: 100%;
    	margin: auto;
		opacity: 0;
		font-size: 6em;
		text-align: center;
		line-height: 235px;
    /*padding: 10px;*/
    position: absolute;
}

.cover-hover-icon:hover {
	cursor: pointer;
	opacity: 0.65;
}

.show {
	opacity: 0.65;
}

.cover-picture {
	width: 100%;
	height: 85%;
	/*-webkit-clip-path: polygon(0 0, 100% 0%, 100% 83%, 0 83%);
	clip-path: polygon(0 0, 100% 0%, 100% 83%, 0 83%);*/
}
