.body {
	font-family: Geneva;
}

.search {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	height: 25px;
	margin: auto;
	border-radius: 8px;
	border: 1px solid lightgrey;
	outline: none;
	font-size: 1.05em;
	padding: 0 3px;
}

.book-view {
	list-style-type: none;
	margin: 6px;
	padding: 6px;
	border-radius: 6px;
	background-color: lightblue;
}

.book-view:hover {
	cursor: pointer;
	background-color: #bfefff;
}

.book-title {
	font-weight: bold;
}

.book-publisher {
	font-style: italic;
	color: darkgrey;
	font-size: 0.9em;
}

/* New stuff */
.cover-view {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/*width: 100vh;*/
	height: 100vh;
}

.cover-card {
	width: 200px;
  	height: 250px;
  	background-color: #eeeff2;
  	margin: 15px;
		position: relative;
  	/*sflex-shrink: 0;*/
}

.cover-add-icon {
		width: 100%;
		background: pink;
		/*border: solid 1px red;*/
		height: 100%;
    margin: auto;
		opacity: 0;
		font-size: 6em;
		text-align: center;
		line-height: 250px;
    /*padding: 10px;*/
    position: absolute;
}

.cover-add-icon:hover {
	cursor: pointer;
	opacity: 0.5;
}
